.contact-content {
	display:flex;
	flex-wrap:wrap;
	@media only screen and (min-width : 64em) {
		flex-direction:column;
	}
	
	.contact-wrap {
		flex:1 0 15em;
		margin-right:2em;
		h3, p {
			color:#415E6C;
		}
		h3 {
			margin-top:0;
			margin-bottom: 2em ;
		}
		p {
			margin:0 0 .5em 0;
			line-height:1.5em;
			font-size: .8em;
			i {
				width: 1.5em;
				text-align: center;
				margin-right: .2em;
			}
		}
		.bottom {
			margin-bottom: 5em;
		}
	}
	.question-wrap {
		@media only screen and (max-width : 399px) {
			flex:0 0 16em;
		}
		flex:1 0 16em;
		@media only screen and (min-width : 64em) {
			flex:0 0 25em;
			margin-bottom:2em;
		}
		max-width: 25em;
		margin-bottom:2em;
		margin-right:2em;
		h3 {
			color:#415E6C;
			margin-bottom: 2em;
		}
		form {
		
			display: flex;
			flex-direction: column;
			color:#415E6C;
			box-sizing:border-box;
			select {	
				width: 50%;
				border:1px #415E6C solid;
				padding:.8em;
				margin-bottom: 1em;
				background-color: rgba(0,0,0,0);
				font-size:.8em;
				height: 2em;
				outline: none;
				box-sizing:border-box;
			}
			input {	
				box-sizing:border-box;
				border:none;
				padding:.3em;
				margin-bottom: 1em;
				border-bottom: 1px #415E6C solid;
				font-size: .8em;
				background-color: rgba(255,255,255,.1);
			}
			input:focus {
				border-bottom:1px tomato solid;
			}
			input::placeholder{
				color:#415E6C;
			}
			textarea::placeholder {
				color:#415E6C;
			}

			textarea {
				margin-bottom: 2em;
				border:none;
				font-size: .8em;
				border-bottom:1px #415E6C solid;
				background-color: rgba(255,255,255,.1);
				outline: none;
				box-sizing:border-box;
			}
			textarea:focus {
				border-bottom:1px tomato solid;
			}
			input[type="submit"] {
				
				width: 40%;
				border:1px #415E6C solid;
				padding:1em 0;
			}
			input[type="submit"]:hover {
				border:1px tomato solid;
				color:tomato;
			}
		}
		.contact-alert {
		    border: 2px orange solid;
		    display: inline-block;
		    margin-bottom: 2em;
		    margin-bottom:2em;
			ul {
				margin: 0;
				padding:1em;
				li {
				list-style-type: none;
				color: red;
				font-size:.8em;
				}
		
			}
		}
	}
}