.tomato {
	color:tomato !important;
}

.loggedin {
	margin-top:5em;
	display:flex;
	flex-direction:column;
	.squire {
		flex:0 0 7em;
		margin-bottom:3em;
		border:2px #E59C00 solid;
		border-radius:5px;
		display:flex;
		align-items:center;
		text-decoration: none;
		span {
			width:100%;
			text-align:center;
			font-size:2em;
			color:#E59C00;
			font-weight:200;
		}
	}
}
//----------------loggedin------------------------------------


//----------------member--------------------------------------

.member-container {
	margin-bottom:2em;
	border-left:2px #E59C00 solid;
	padding-left:1em;
	.member-name {
		margin-bottom:1em;
		color:#000;
	}
	span {
		color:#444;
	}
	.margin-bottom {
		margin-bottom:.5em;
	}
	color:#888;
}

//================createMember--------------------------------

.member-form {
	background-color:rgba(0,0,0,0) !important;

	.margin-bottom {
		margin-bottom:3em !important;
	}
	textarea {
		padding:.7em;
		margin-bottom: 1em;
		border: none;
		font-size: .8em;
		border-bottom: 1px #415E6C solid;
		background-color: rgba(255, 255, 255, 0.1);
		outline: none;
		font:inherit;
		color: #555;
		font-weight: 300;
		textarea::placeholder {
				color:#415E6C;
			}
		&:focus {
			border-bottom:1px tomato solid;
		}
	}
	select {
		width: 30%;
		border:1px #415E6C solid;
		padding:.8em;
		margin-top:1em;
		margin-bottom: 2em;
		background-color: rgba(0,0,0,0);
		font-size:.8em;
		height: 2em;
		outline: none;

	}
}
.information-pack {
	border:2px orange solid;
	display:inline-block;
	padding:0;
	margin-left:-1em;
	p {	
		font-style: italic;
		padding:0 1em;
		font-size:.8em;
		a {
			color: tomato ;
		}
	}
}

//=============================errors-alert==========================

.alert {
	border:2px orange solid;
	display:inline-block;
	margin-left:2em;
	margin-bottom:2em;
	ul {
		margin: 0;
		padding:1em;
		li {
			list-style-type: none;
			color: red;
			font-size:.8em;
		}
		
	}
}
