
.navigation {

	padding: 1em;
	a, span {
		font-size:.8em;
	}
	a {
		text-decoration:none;
		color:#E59C00;

	}
	span {
		color:#ccc;
	}
}
.container {
	flex:1 0 1em;
	padding:1em;
	h1 {
		margin:0 0 3em 0;
		color:#555;
		// font-size:3em;
		// font-weight:600;
	}
	.content {
		flex:1 0 1em;
		padding:0 1em;
		.about-content {
			
			h3,p {
				color:#415E6C;
			}
			h3 {
				margin:2em 0 2em 0;
			}
			p {
				margin:0 0 .5em 0;
				line-height:1.5em;
				
			}
		}
	}
}
section{
	.donation {
		flex:1 0 1em;
		background-color:#3b6daf;
		padding:2em;
		text-align:center;
		.donate-box {
			color:#fff;
			.donate-text {
				display:inline-block;
				h2,p {
					text-align:left;
				}
				h2 {
					width:100%;
				}
				p {
					width:100%;
					font-size:.8em;
					font-weight:100;
					margin-bottom:4em;

				}
			}
			.donate-img {
				width:20%;
				margin:0 auto 2em auto;
				img {
					width:5em;
				}
			}
			.donate-button{
				text-align:center;
				a {
					display:inline-block;
					font-size:.8em;
					text-decoration:none;
					border:.1em #FFAF02 solid;
					border-radius:5px;
					background-color:#FFAF02;
					color:#fff;
					padding:.7em 1.2em;
				}
			}
		}
	}
}