.learning-five {
	width:100%;
	display:flex;
	flex-direction:column;
	.five {
		width:10em;
		display:flex;
		flex-wrap:wrap;

		a {
			color: #fff;
			flex:0 0 6em;
			padding:1em 0 1em 1em;
		}
	}
	.Dyslexia {
		a, p {

			background-color:#7a9eaf;
		}
	}
	.Dyspraxia {
		a, p {

			background-color:#de88a5;
		}
	}
	.ADHD {
		a, p {

			background-color:#655989;
		}
	}
	.Dysgraphia {
		a, p {

			background-color:#9E9D24;
		}
	}
	.Dyscalculia {
		a, p {

			background-color:#FF7043;
		}
	}
}
.learning {
	.learning-margin {
		margin-bottom: 2em;
	}
	.news-box {
			width: 90%;
			margin: .5em auto;
			border: 2px #E59C00 solid;
			padding:.2em 1em;
			a {
				color: tomato;
				font-size: .7em;
				border:1px tomato solid;
				border-radius:3px;
				padding:.1em .3em;
			}
			h3, p, span{
				text-align: center;
				margin: 0;
			}
			h3 {
				font-size: .8em ;
				font-weight: 500;
				margin: .5em 0 !important;
				color: #41486c !important;
			}
			span {
				display: block;
				font-size: .8em;
				font-weight: 500;
				margin: .5em 0;
				color: #41486c;
			}
			p {
				font-size: .7em ;
				font-weight: 400;
				color: #555 !important;
			}
			p:nth-child(3) {
				margin-bottom: .5em;
			}
		}//news&evnet
	.step {
		margin: .5em 0;

		p {
			margin: .5em 0 !important;
			line-height: 1.3em;
		}
		
		span {
			display: block;
			font-size:.7em !important;
			font-weight: 600 !important;
			// text-align: center;
		}
	}
	.accordion-wrap {
		display: flex;
		flex-wrap:wrap;
		margin-bottom: .8em;
		color:#41486c;
		h3 {
			margin: 0 !important;
			flex: 1 0 8em;
			display: inline-block;
			font-size: .95em;
			color: #41486c !important;
		}//news&event

		span {
			flex:1 0 10em;
			font-size:1.1em;
			color: #41486c;
			font-weight: 300;
		}
		.empty {
			flex:0 0 1em;
		}
		.image-wrap {
			flex :0 0 .6em;
			cursor:hand;
			cursor:pointer;
			display:flex;
			align-items:center;
			img {
				width: 100%;
				height: 100%;
			}
		} 
		

		.accordion , .accordion-news{
			display:none;
			width: 90%;
			padding:0 0 0 .5em;
			li {
				list-style-type: none;
				margin-top: .5em;
				margin-bottom: 1em;
				font-size: .9em;
				span {
					display: block;
					color: #41486c;
					font-size: 1.1em;
					margin-bottom: .3em;

				}
			}
			p {
				margin: 1em 0;
				font-size: .9em;
				color: #41486c;
				span {
					font-size: .9em;
					font-weight: 600;
					display: block;
				}
			}
			a {
				border: 1px tomato solid;
				border-radius:5px;
				padding: .1em .5em;
				color: tomato;
			}
			ul {
				
				padding-left: .3em;
			}
			.source {
				font-size:.6em;
				text-align:right;
				font-style: italic;
			}
			i {
				display: block;
				text-align: center;
			}
		}//accordion
	}//accordion-wrap
	.learning-dyslexia-wrap {

		.five {
			width: 105%;
			p {
				width: 100%;
				padding:.7em;
				font-size: 1.1em;
				font-weight: 300;
				color: #fff;
				margin-left: -1em;
				display: flex;
				justify-content: space-between;
				cursor: hand;
				cursor: pointer;
				i {
					display: inline-block;
					line-height: 1.5em;
					
				}
				
			}
		}
		.learning-five {
			display: none;
		}
	}
}