.learning-five {
	width:100%;
	display:flex;
	flex-direction:column;
	.five {
		width:10em;
		display:flex;
		flex-wrap:wrap;
		// transform:translate(-6em);

		a {
			color: #fff;
			flex:0 0 6em;
			padding:1em 0 1em 1em;
			// background-color:#000;
			// @media only screen and (max-width : 399px) {
			// 	font-size:.6em;
			// }
			// &:nth-child(1) {
			// 	background-color:#7a9eaf;
			// }
			// &:nth-child(2) {
			// 	background-color:#de88a5;
			// }
		}

		span {
			flex:1 0 1em;
			display:inline-block;
			text-align:right;
			padding:1em .5em 1em 0;
			color:#fff;
			font-weight:100;
		}
	}
	.Dyslexia {
		a, span{

			background-color:#7a9eaf;
		}
	}
	.Dyspraxia {
		a, span {

			background-color:#de88a5;
		}
	}
	.ADHD {
		a, span {

			background-color:#655989;
		}
	}
	.Dysgraphia {
		a, span {

			background-color:#9E9D24;
		}
	}
	.Dyscalculia {
		a, span {

			background-color:#FF7043;
		}
	}
}
.learning {
	span {
		display:block;
		margin-left:1em;
		font-size:1em;

	}
	.accodion {
		// display:none;
		padding:0;
		span {

		}
		li {
			list-style-type: none;
		}
	}
}