.login-page {
	display:flex;
	flex-wrap:wrap;
	margin: 0 auto;
	.profile-box {
		// margin-left: 1em;
		flex:1 0 1em;
		// outline:1px red solid;
		font-size:1.5em;
		color:#000;
		text-align: center;
		p {
			display: inline-block;
			margin: 0;
			font-size: .6em;
			color: #888;
			font-weight: 300;
		}
		.profile-name {
			color: inherit;
			font-weight: 300;
			// font-size: 1.1em;
		}
	}
	.download-box {

		margin:0 .5em;
		flex:0 0 2.5em;
		display: flex;
		align-items:center;
		color: tomato;
		// border:1px red solid;
		cursor:hand;
		cursor:pointer;
		.download-cart {
			font-size:1em;
			color:inherit;
		}
		.download-no {
			display: flex;
			width: .8em;
			height: .8em;
			padding: .1em;
			border: 1px tomato solid;
			border-radius:50%;
			color:inherit;
			margin-left: .3em;
			align-items:center;
			span {
				display: block;
				color: inherit;
				margin: 0 auto;
				font-size: .7em;
			}

		}
	}
	margin-bottom:3em;
}
.download-files {
	.download-box {
		
		width: 100%;
		display: flex;
		flex-wrap:wrap;
		margin-bottom: 1em;
		.files {
			flex:1 0 1em;
			font-weight: 300;
		}
		.check-box {
			flex:0 0 1em;
			cursor: hand;
			cursor:pointer;
			font-size: .7em;
		}
	}
}
.download-overlay {
	display:none;
	width:100vw;
	height:100vh;
	background-color:#888;
	position: absolute;
	top:15em;
	left:0;
}
.triangle-point {
	// border:1px red solid;
	display:none;
	width: 1em;
	height: 1em;
	position:absolute;
	top: 14.25em;
	right:4.5em;
	img {
		width: 100%;
	}
}




